bitarray==1.2.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
editdistance==0.5.3
elasticsearch==7.5.1
Flask==1.1.1
future==0.18.2
fuzzywuzzy==0.18.0
gevent==1.4.0
greenlet==0.4.15
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
nltk==3.4.5
numpy==1.16.6
pkg-resources==0.0.0
practNLPTools==1.0
pybloom==1.1
requests==2.22.0
scipy==1.2.3
singledispatch==3.4.0.3
six==1.14.0
torch==1.1.0
urllib3==1.25.8
Werkzeug==1.0.0
xgboost==0.82
