absl-py==0.9.0
astor==0.8.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
elasticsearch==7.5.1
Flask==1.1.1
gast==0.2.2
gevent==1.4.0
google-pasta==0.1.8
greenlet==0.4.15
grpcio==1.27.1
h5py==2.10.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.2
MarkupSafe==1.1.1
numpy==1.18.1
opt-einsum==3.1.0
pkg-resources==0.0.0
protobuf==3.11.3
requests==2.22.0
six==1.14.0
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.0
termcolor==1.1.0
urllib3==1.25.8
Werkzeug==1.0.0
wrapt==1.11.2
