[Unit]
Description=textmatch

[Service]
WorkingDirectory=/home/debayan/EARL/scripts
ExecStart=/home/debayan/EARL/bin/python2.7 /home/debayan/EARL/scripts/TextMatchServer.py 8888

[Install]
WantedBy=multi-user.target
